
.DS_Store
.idea
.vscode

node_modules
package-lock.json
npm-shrinkwrap.json

dist
packages
coverage
app/scripts/common/config.js
app/config/local.json
app/config/dev.json
app/config/qa.json
app/config/prod.json
secrets.json

*.log