/** vars **/

// -- OPSWAT
$primaryColor: #111f42;
$secondaryColor: #2672fb;
$colorWhite: #ffffff;
$colorBlackish: #191918;
$colorBlacker: #192537;
$colorBlack: #000a12;
$colorGrey: #d9d9d9;
$colorGreyLighter: #fbfbfb;
$colorGreyLight: #efefed;
$colorGreyDark: #7a879a;
$colorGreyDarker: #5e6e6f;
$dareDevil: #a94442;

$red: #ff0000;
$green: #00c776;
$blue: #00a6f7;

$padding: 20px;
