/** vars **/

// -- OPSWAT
$primaryColor: #111f42;
$secondaryColor: #2672fb;
$colorWhite: #ffffff;
$colorBlackish: #191918;
$colorBlacker: #192537;
$colorBlack: #000a12;
$colorGrey: #d9d9d9;
$colorGreyLighter: #fbfbfb;
$colorGreyLight: #efefed;
$colorGreyDark: #7a879a;
$colorGreyDarker: #5e6e6f;
$colorGrayFDark: #656565;
$dareDevil: #a94442;
$colorBlueLighter: #007bff;

$red-epiphyllum: #D00300;
$fine-pine: #008A00;
$epicurean-orange: #ED6706;
$laughiag-orange: #F59209;
$bitcoin: #FDBD0D;
$transparet: transparent;
$bluerocratic: #1D6BFC;
$tired-true-blue: #485161;
$tristesse: #080F21;
$chrome: #A4A8AE;
$baclavas: #1B273C;
$dark-spell: #313C4E;
$heise-black: #141E2F;
$liliac-fields: #8E939B;
$blueberry: #D1D5DB;
$dodger-blue: #3D80FC;
$pakistan-green: #006600;
$deep-red: #990200;
$mourning-blue: #154FBA;
$twilight-grey: #D2D4D6;

$red: #ff0000;
$green: #00c776;
$blue: #00a6f7;

$padding: 20px;
