<!DOCTYPE html>
<html ng-controller="extensionController as vm" ng-cloak>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{vm.title}}</title>

    <link rel="stylesheet" type="text/css" href="../fonts/fontello/css/animation.css">
    <link rel="stylesheet" type="text/css" href="../fonts/fontello/css/mcl-ext-icons.css">
    <link rel="stylesheet" type="text/css" href="../styles/extension.css">

</head>
<body ng-cloak>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button ng-if="!vm.apikeyInfo.loggedIn" class="btn btn-blue text-14" ng-click="vm.login()">Sign In</button>
                </div>
                <div class="metadefender-chrome-logo"></div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row padding-top padding-bottom">
            <div class="col-sm-3 left-menu text-15">
                <ul class="list-group">
                    <li class="list-group-item" ng-class="{'selected': vm.activeTab == 'history' }"><a href="#!/history" ng-click="vm.goToTab('history')">{{vm.__MSG.getMessage('menuScanHistory')}}</a></li>
                    <li class="list-group-item" ng-class="{'selected': vm.activeTab == 'settings' }"><a href="#!/settings" ng-click="vm.goToTab('settings')">{{vm.__MSG.getMessage('menuSettings')}}</a></li>
                    <li class="list-group-item" ng-class="{'selected': vm.activeTab == 'about' }"><a href="#!/about" ng-click="vm.goToTab('about')">{{vm.__MSG.getMessage('menuAbout')}}</a></li>
                </ul>
            </div>
            <div class="col-sm-9 content">
                <ng-view></ng-view>
            </div>
        </div>

    </div>

    <script src="../scripts/extension.js"></script>
</body>
</html>
