<!DOCTYPE html>
<html ng-controller="popupController as vm" ng-cloak>
<head>
    <meta charset="utf-8"/>

    <title>{{vm.title}}</title>

    <link rel="stylesheet" type="text/css" href="../fonts/fontello/css/animation.css">
    <link rel="stylesheet" type="text/css" href="../fonts/fontello/css/mcl-ext-icons.css">
    <link rel="stylesheet" type="text/css" href="../styles/popup.css">
</head>
<body>
    <div class="header">
        <div class="pull-right">
            <a class="options-btn" href='' ng-click="vm.goToSettings()"><span class="icon-cog text-14"></span></a>
        </div>
        <div class="metadefender-chrome-logo"></div>
    </div>

    <div class="container-fluid">
        <div ng-show="!vm.latestScans.length" class="no-scans" ng-bind-html="vm.__MSG.getMessage('noScansNotification')"></div>

        <ul ng-show="vm.latestScans.length" class="list-group row">
            <li class="list-group-item" ng-repeat="file in vm.latestScans">
                <a ng-if="file.scanResults" ng-href="{{file.scanResults}}" target="_blank" title="{{file.fileName | decodeFileNameFilter}}" ng-click="vm.gaTrack('view-details')">{{file.fileName | decodeFileNameFilter | limitTo : 35}}</a>
                <span ng-if="!file.scanResults">{{file.fileName | decodeFileNameFilter | limitTo : 35}}</span>
                <span class="pull-right mcl-icon {{vm.getStatusIcon(file.status)}}"></span>
            </li>
        </ul>
    </div>

    <div class="footer">
        <span class="pull-right">
            <a href='' ng-click="vm.goToHistory()" class="text-14">View Scan History<span class="mcl-icon icon-right"></span></a>
        </span>
    </div>

    <script src="../scripts/popup.js"></script>
</body>
</html>
