@font-face {
  font-family: 'mcl-ext-icons';
  src: url('../font/mcl-ext-icons.eot?98126950');
  src: url('../font/mcl-ext-icons.eot?98126950#iefix') format('embedded-opentype'),
    url('../font/mcl-ext-icons.woff2?98126950') format('woff2'),
    url('../font/mcl-ext-icons.woff?98126950') format('woff'),
    url('../font/mcl-ext-icons.ttf?98126950') format('truetype'),
    url('../font/mcl-ext-icons.svg?98126950#mcl-ext-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mcl-ext-icons';
    src: url('../font/mcl-ext-icons.svg?98126950#mcl-ext-icons') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mcl-ext-icons", sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
  content: '\e800';
}

/* '' */
.icon-cog:before {
  content: '\e802';
}

/* '' */
.icon-cloud:before {
  content: '\e803';
}

/* '' */
.icon-cancel:before {
  content: '\e804';
}

/* '' */
.icon-right:before {
  content: '\e805';
}

/* '' */
.icon-ok:before {
  content: '\e808';
}

/* '' */
.icon-spin:before {
  content: '\e839';
}

/* '' */
.icon-help:before {
  content: '\f128';
}

/* '' */
.icon-trash:before {
  content: '\f1f8';
}

/* '' */
.icon-server:before {
  content: '\f233';
}

/* '' */