
.icon-search:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
