<div class="col-sm-12 settings">
    <ul class="list-group">

        <li class="list-group-item">
            <mcl-checkbox value="vm.settings.scanDownloads" label="{{vm.__MSG.getMessage('scanDownloads')}}" change="vm.settingsChanged('scanDownloads')" enabled="vm.isAllowedFileAccess" ></mcl-checkbox>
            <div><sub class="warning" ng-if="!vm.isAllowedFileAccess">{{vm.__MSG.getMessage('fileAccessDisabled')}} <a href="" ng-click="vm.openExtensionSettings()">{{vm.__MSG.getMessage('goToExtension')}}</a></sub></div>
            <div><sub>{{vm.__MSG.getMessage('scanDownloadsSub')}}</sub></div>
        </li>

        <li class="list-group-item">
            <mcl-checkbox value="vm.settings.shareResults" label="{{vm.__MSG.getMessage('shareResults')}}" change="vm.settingsChanged('shareResults')" enabled="vm.apikeyInfo.paidUser"></mcl-checkbox>
            <div><sub ng-if="!vm.apikeyInfo.paidUser" ng-bind-html="vm.__MSG.getMessage('shareResultsSub', {'__opswatDomain__': vm.CONFIG.opswatDomain})"></sub></div>
        </li>

        <li class="list-group-item">
            <mcl-checkbox value="vm.settings.showNotifications" label="{{vm.__MSG.getMessage('showNotifications')}}" change="vm.settingsChanged('showNotifications')"></mcl-checkbox>
        </li>

        <li class="list-group-item">
            <mcl-checkbox value="vm.settings.saveCleanFiles" label="{{vm.__MSG.getMessage('saveCleanFiles')}}" change="vm.settingsChanged('saveCleanFiles')"></mcl-checkbox>
        </li>

        <li class="list-group-item">
            <mcl-checkbox value="vm.settings.safeUrl" label="{{vm.__MSG.getMessage('safeUrl')}}" change="vm.settingsChanged('safeUrl')"></mcl-checkbox>
            <div><sub ng-bind-html="vm.__MSG.getMessage('safeUrlSub')"></sub></div>
        </li>

        <li class="list-group-item useCore">
            <mcl-checkbox value="vm.coreSettings.useCore" label="{{vm.__MSG.getMessage('useCore')}}"  change="vm.settingsChanged('useCore')"></mcl-checkbox>
            <form name="coreSettingsForm" class="form-horizontal">
                <fieldset ng-disabled="!vm.coreSettings.useCore">
                    <div class="form-group ml-auto col-12 d-flex flex-row align-items-start has-feedback" ng-class="vm.coreSettings.useCore && vm.coreSettings.apikey.groupClass">
                        <label for="coreApikey" class="col-2 text-right mr-2 control-label">{{vm.__MSG.getMessage('coreApikey')}}</label>
                        <div class="w-100">
                            <input id="coreApikey" class="form-control" type="text" aria-describedby="coreApikeyStatus"
                                ng-model="vm.coreSettings.apikey.value" ng-blur="vm.validateCoreSettings()"/>
                            <span class="form-control-feedback" ng-class="vm.coreSettings.useCore && vm.coreSettings.apikey.value && vm.coreSettings.apikey.iconClass" aria-hidden="true"></span>
                            <span id="coreApikeyHelpBlock" class="help-block" ng-if="vm.coreSettings.useCore && vm.coreSettings.apikey.valid === false">{{vm.__MSG.getMessage('coreSettingsInvalidApikey')}}</span>
                        </div>
                    </div>

                    <div class="form-group ml-auto col-12 d-flex flex-row align-items-start has-feedback" ng-class="vm.coreSettings.useCore && vm.coreSettings.url.groupClass">
                        <label for="coreUrl" class="col-2 text-right mr-2 control-label">{{vm.__MSG.getMessage('coreUrl')}}</label>
                        <div class="w-100">
                            <input id="coreUrl" class="form-control" type="text" aria-describedby="coreUrlStatus"
                                ng-model="vm.coreSettings.url.value" ng-blur="vm.validateCoreSettings()"/>
                            <span class="form-control-feedback" ng-class="vm.coreSettings.useCore && vm.coreSettings.url.value && vm.coreSettings.url.iconClass" aria-hidden="true"></span>
                            <span id="coreUrlHelpBlock" class="help-block" ng-if="vm.coreSettings.useCore && vm.coreSettings.url.valid === false">{{vm.__MSG.getMessage('coreSettingsInvalidUrl')}}</span>
                        </div>
                    </div>

                    <div class="form-group ml-auto col-12 d-flex flex-row align-items-start">
                        <label for="coreRule" class="col-2 text-right mr-2 control-label">{{vm.__MSG.getMessage('coreRule')}}</label>
                        <div class="w-100 d-flex flex-row align-items-center justify-content-between">
                            <div class="col-sm-6 p-0">
                                <select id="coreRule" class="form-control" 
                                    ng-disabled="!vm.coreSettings.scanRules.length"
                                    ng-model="vm.coreSettings.rule.value"
                                    ng-options="rule as rule for rule in vm.coreSettings.scanRules">
                                    <option value="">-- Default rule --</option>
                                </select>
                            </div>
                            <button ng-disabled="!coreSettingsForm.$dirty" class="btn btn-blue" type="button" ng-click="vm.settingsChanged('coreSettings')">{{vm.__MSG.getMessage('coreSettingsSave')}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div><sub ng-bind-html="vm.__MSG.getMessage('useCoreSub')"></sub></div>
        </li>
    </ul>

</div>